
:root{
  --primary-color:#CBDEEC;
  --secondary-color:#000000;
  --backdrop_color:#F8F8F8;
  --white-color: white;
  --Hero-image:url(IMAGES/hero.jpg);
  --hero-width:1200px;
  --hero-height:800px;
  --otherSec-width:1600px;

  --container-width-lg:1200px;
  --container-width-md:1000px;
  --container-width-sm:600px;


}
*{
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;

}
body{
  width: 100%;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}


.container{
  
  position: relative;
  justify-content: center;
  align-items: center;
  
  
  

}
.HeroSec{

  background-image: var(--Hero-image);
  background-size: cover;
  background-repeat: no-repeat;
  /*width: var(--hero-width);*/
  width: 100%;
  height: var(--hero-height);
  margin: 20px;
  

  
}

.hero-Header{
  padding-top: 60px;
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  font-size: 112px ;
  -webkit-text-stroke: 0.1vw;
  text-transform: uppercase;
  line-break: auto;
  


}
 .fa-bars{
  display: none;
  visibility: hidden;
}

.logo{
  width: 20px;
  height: 20px;
  
}
.char-first{
  font-size: large;
  padding-left: 20px;
  
}
.char-color{
  font-size: large;
  color: var(--primary-color);
  padding-top:0px ;
}
.Header-Class{
  display: flex;
  padding-top: 15px;

  
}
 .headerNav {
  padding-left: 600px;
  text-align: center;
  /*justify-content: center;*/
  padding-right: 380px;
  padding-top: 20px;
  
}
.nav-space{
  padding-right: 40px;

}




a{
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: 24px;
  padding-right: 40px;


}
h6{
  font-size: 24px;
  margin-bottom: 0;
  font-weight: lighter;

}
button{
  width: 150px;
  height: 40px;
  border: 2px solid var(--secondary-color);
  background: local;
  padding: 12px 40px 12px 40px;
  text-transform: uppercase;



}
.fa-solid .fa-bars{
  display: none;
}
.subs{
  float: right;
  padding-right: 0;
  padding: 12px 40px 12px 40px;
  text-transform: uppercase;
  align-items: center;

  

}
.subs:hover{
  background-color: skyblue;
  border-style: none;
}

.headings{
  font-weight: normal;
  font-size:32px ;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 20px;
  

}
h1{
  margin-bottom: 0px;
}

.lines{
  width: 80px;
  height: 4px;
  border: 4px bold;
  background-color:  var(--secondary-color);
  margin-left: auto;
  margin-right: auto;
  

}
.articleSec{
  width: 100%;
  background: var(--backdrop_color);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 200px;
  padding-bottom: 100px ;


}


.image{
  width: 250px;
  height: 200px;
  padding-bottom: 50px;
}
.drones-articles{
  width: 250px;
  height: 200;
  margin-right: 20px;
  align-items: center;
  text-align: center;
  border: 3px solid var(--backdrop_color);
  background-color: white;
  padding-bottom: 50px;
  

}
.image-lines{
  width: 80px;
  height: 4px;
  border: 1px bold var(--secondary-color);
  background-color: var(--secondary-color);
  margin-left: auto;
  margin-right: auto;

 
}

p:hover{
  color: steelblue;
  
}
.description{
  padding-top: 16px;
  text-align: center;
}

.heading{
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  background: var(--backdrop_color);
  text-align: center;
  /*font-size: 32px;
  font-weight: normal;*/
  padding: 100px;
  font-style: normal;
  -webkit-text-stroke: 0vw;
  margin-top: 0px;


  
}

.line{
  width: 60px;
  height: 2px;
  background-color: var(--secondary-color);
  margin-left: auto;
  margin-right: auto; 
 
}
 .line:hover{
  background-color: skyblue;
}
p{
  font-size: 16px;
  
}
.aboutSec{
  background: var(--backdrop_color);
  width: 100%;
  margin-bottom: 0px !important;
  

}

.about-article{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 0px;
  background: var(--backdrop_color);
  
}

.about-Image{
  width: 800px;
  height: 550px;



}
.about{
  text-align: center;
  align-items: center;
  padding-top: 70px;
  background: white;
  border-right: 2px solid var(--backdrop_color);

}
.about-par{
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 16px;
}
.subscription{
  width: 100%;
  background: var(--backdrop_color);
  height: 400px;
  margin-top: 0px !important;
  

  

}
 .subSec{
  padding-top: 15px;
  text-align: center;
  
  
}

.fill{
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.smallcap:hover{
  
  font:small-caption;
  padding-bottom: 11px;
  
}
input{
  border-style: hidden;
  width: 400px;
  height: 50px;
  background-color:var(--white-color);
  padding-left: 10px;
  padding-top: 15px;
}
.submit{
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;


}
footer{
  width: 100%;
  height:100px;
  background: var(--white-color);
  display: flex;
  padding-top: 40px;
  border:1px solid var(--backdrop_color);
}
.icons{
  
  padding-right: 900px;
  opacity: 0.5;



}
.fa-brands{
  color: blue;
}
i{
  padding: 7px;
  margin: 7px;
  border:1px solid steelblue;
  border-radius: 200px;
  background-color: rgb(179, 211, 238);
  opacity: 0.5;
  
  

}
.fa-pinterest-p{
  background-color: white;

  opacity: 0.5;
}


.a-hover{
  position: relative;
}

.a-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 80px;
  height: 6px;
  background-color: var(--primary-color); 
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.a-hover:hover::after {
  visibility: visible;
  
}



@media screen and (max-width: 1200px) {
  
  .container {
    margin-left: 0;
  }
  
  .headerNav {
    text-align: center;
    
  }

  .nav-space {
    padding-right: 20px;
  }
  .fa-bars{
    display: none;
    visibility: hidden;
  }
  

  .articleSec {
    padding-left: 70px;
    padding-right: 130px;

  }
  .heading{
    width: var(--container-width-lg);
    padding-right: 300px;
  }
  .drones-articles{
    margin-left: 50px;
  }
  .aboutSec{
    width: 100%;
    display: flex;
  }
  .about-Image{
    width: 800px;

    

    
  }
  .about{
    width: 800px;
  }
  .icons{
    padding-right: 200px;
  }
  .navfooter a{
    text-align: center;
    padding-left: 200px;
  }
}

@media screen and (max-width: 1000px) {
  
  .HeroSec {
    width: 100%;
    background-size: cover;
    margin-left: 0;
  }
  

  .hero-Header {
    font-size: 80px;
  }

  .headerNav {
    padding: 10px;
    text-align: center;
    padding-left: 350px;
  }
  .subs{
    margin-left: 150px;
  }
  .fa-bars{
    display: none;
    visibility: hidden;
  }

  .articleSec {
    width: 100%;
    display: flex;
    padding-top: 40px;
    margin-left: 0px;
    margin-right: 0;
    
  }
  .heading{
    width: 100%;
    text-align: center;
    padding: 0;
    padding-top:20px ;
    height: 200px;
   
  }

  .drones-articles {
    width: 300px;
    margin-left: 70px;
    margin-bottom: 40px;
    height: 400px;
   
  }
  .image{
    width: 300px;
  }
  .aboutSec{
    width: var(--container-width-md);
  }

  .about-Image{
    width: 500px;

  }
  .about{
    width: 500px;
  }
  .subscription{
    width: 100%;
  }
  footer{
    width: 100%;
    display: flex;
    border: 0;
    height: 250px;

  }
  .icons{
    display: inline;
    width: 200px;
    padding-right: 0px;
    
    
  }
  .navfooter{
   margin-left: auto;
   margin-right: auto;
   padding-left: 0;
  }
  a {
    padding-left: 0px;
  }
  .a-hover{
   text-align: center;
   padding-left: 0px;

  }
  
 
  }
  


@media screen and (max-width: 600px) {
  
  .HeroSec {
    width: 100%;
    height: 450px;
   
  }
 
  .headerNav a {
    display: none;

   
  }
   .fa-bars{
    visibility: visible;
    display: flex;
    float: right;
    
  }
  .subs{
    display: none;
  }
  .heading{
    width: 100%;
    padding-left: 0px;
    
  }

  .articleSec {

    padding: 0;
  }

  .drones-articles{
    align-items: center;
    margin-left: 140px;

  }
  .aboutSec{
    width: 100%;
   
    
  }
  .about-Image{
    width: var(--container-width-sm);
    height: 400px;
  }
  .about-article{
    display: inline-block;
  }
 .about{
  display: block;
 }

 .subscription{
  width: 100%;
 }
 footer{
  width: 100%;
 }
 footer .subs{
  float: left;
  display: flex;
  visibility: visible;
  margin-top: 30px;
  margin-left: 180px;
  
 }
 


  

  
  
}